<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Home</title>
</head>

<body>
  {% extends "template.html" %}
  {% block content %}

  <div class="alert">
    <h3 class="alert-heading">Good Evening</h4>
      <p class="mb-0"> The time is currently 5:02 pm</p>
  </div>

  <div class="container-fluid">
    <div class="row">

      {%for i in range(0, count)%}
      <div class="col-sm-4">

        <div class="card border-secondary mb-3 dark-mode-card">
          <div class="card-header">Header {{i}}</div>
          <div class="card-body">
            <h4 class="card-title">Secondary card title</h4>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>

      </div>
      {%endfor%}

    </div>
  </div>
  </div>
  <script>
    $("#btn2").on("click", function () {
      $("#card").animate().css({
        backgroundColor: "blue"
      }, 2500);
    });
  </script>
  {% endblock %}
</body>

</html>