<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Home</title>
</head>

<body>
  {% extends "template.html" %}
  {% block content %}


  <div class="container">
    <div class="card-columns">

      {%for article in articles%}
      <div class="card rounded">
        <h5 class="card-header "><a href="{{article.link}}">{{article.title}}</a></h5>
        <div class="card-body">{{article.description}}</div>
        
      </div>
      {%endfor%}

    </div>
  </div>
  {% endblock %}
</body>

</html>