<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>{{topic}}</title>
</head>

<body>
  {% extends "template.html" %}
  {% block content %}

  <div class="container">
    {%for article in articles%}
    <div class="card">
      <div class="card-body">
        <h4 class="card-title"><a href="{{article.link}}">{{article.title}}</a></h4>
        <p class="card-text">{{article.description}}</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
    <br>
    {%endfor%}
  </div>
  
  {% endblock %}
</body>

</html>