<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>{{topic}}</title>
</head>

<body>
  {% extends "template.html" %}
  {% block content %}

  <div class="container">
    {%for article in articles%}
    <div class="card">
      <div class="card-body">
        <h4 class="card-title"><a href="{{article.link}}">{{article.title}}</a></h4>
        <p class="card-text">{{article.description}}</p>
        <a href="#" class="card-link">Card link</a>

        {% if ('nber' in article.link): %}
        <a href="#" class="card-link badge badge-warning">NBER</a>
        {% endif %}

        {% if ('arxiv' in article.link):%}
        <a href="#" class="card-link badge badge-success">arxiv</a>
        {% endif %}
        
        {% if ('bea' in article.link):%}
        <a href="#" class="card-link badge badge-primary">BEA</a>
        {% endif %}

        {% if ('jmlr' in article.link):%}
        <a href="#" class="card-link badge badge-info">JMLR</a>
        {% endif %}
      </div>
    </div>
    <br>
    {%endfor%}
  </div>

  {% endblock %}
</body>

</html>