name: Run Aggregator

on:
  push:
  workflow_dispatch:
  schedule:
    - cron:  '0 13 * * *'

jobs:
  scheduled:
    runs-on: ubuntu-latest
    steps:
    - name: Check out this repo
      uses: actions/checkout@v2
    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.12
    - run: pip install -r requirements.txt
    - name: Run aggregator
      run: python dismal.py
